.m-scoretable--td {
  padding: 0!important;
}

.m-scoretable--col {
  width: 50%;
  float: left;
  display: block;
  padding: 5px;
  border-bottom: 1px solid #ddd
}

.m-scoretable--col:first-child {
  border-right: 1px solid #ddd
}

.m-scoretable--col--score {
  width: 100%;
  float: left;
  display: block;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
}
