extends layout

block content
  .container
    .row
      .col-lg-12.text-center
        h1 Liste des pistes
    .row
      .col-lg-12
        .col-lg-3
          a.btn.btn-default.btn-block(href='/1') Partie 1
        .col-lg-3
          a.btn.btn-default.btn-block(href='/2') Partie 2
        .col-lg-3
          a.btn.btn-default.btn-block(href='/3') Partie 3
        .col-lg-3
          a.btn.btn-default.btn-block(href='/4') Partie 4
        .col-lg-3
          a.btn.btn-default.btn-block(href='/5') Partie 5
        .col-lg-3
          a.btn.btn-default.btn-block(href='/6') Partie 6
        .col-lg-3
          a.btn.btn-default.btn-block(href='/7') Partie 7
        .col-lg-3
          a.btn.btn-default.btn-block(href='/8') Partie 8
        .col-lg-3
          a.btn.btn-default.btn-block(href='/9') Partie 9
        .col-lg-3
          a.btn.btn-default.btn-block(href='/10') Partie 10
        .col-lg-3
          a.btn.btn-default.btn-block(href='/11') Partie 11
        .col-lg-3
          a.btn.btn-default.btn-block(href='/12') Partie 12
        .col-lg-3
          a.btn.btn-default.btn-block(href='/13') Partie 13
        .col-lg-3
          a.btn.btn-default.btn-block(href='/14') Partie 14
        .col-lg-3
          a.btn.btn-default.btn-block(href='/15') Partie 15
